<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Для подтверждения привязки вашего email к аккаунту <span th:text="${username}"/> перейдите по ссылке: <a th:href="${activationLink}">перейти</a>
</p>
</body>
</html>